<div class=" flex flex-col gap-3 p-6 content-center md:flex-row">

    <mat-form-field class="">
        <mat-label>Nombre cliente a editar</mat-label>
        <input matInput type="text" [(ngModel)]="clienteABuscar">
        @if (clienteABuscar) {


        <button matSuffix mat-icon-button (click)="buscarCliente()">
            <mat-icon>search</mat-icon>
        </button>

        }
    </mat-form-field>

    @if (clientesFiltrados|async) {
    <mat-divider></mat-divider>
    <mat-list>
        <div mat-subheader>Clientes encontrados</div>
        <form [formGroup]="busquedaClienteForm">
            <mat-selection-list  formControlName="cliente" name="cliente" [multiple]="false">
                @for (cliente of clientesFiltrados|async; track cliente.id) {
                <mat-list-option [value]="cliente.id" (click)="onClickCliente(cliente)">{{cliente.nombre}}</mat-list-option>
                }
            </mat-selection-list>            
        </form>




    </mat-list>


    <mat-divider></mat-divider>
    }

    <h2 class=" text-xl">Editar cliente</h2>
    <form [formGroup]="editarClienteForm" class="flex flex-col flex-wrap gap-3 " autocomplete="off">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input type="text" id="nombre" matInput formControlName="nombre" [errorStateMatcher]="matcher"
                placeholder="Ex. Manuel">

            @if (editarClienteForm.get('nombre')?.hasError('required')) {
            <mat-error>Nombre is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input type="phone" id="telefono" matInput formControlName="telefonoPrincipal" [errorStateMatcher]="matcher"
                placeholder="Ex. 612345678">

            @if (editarClienteForm.get('telefono')?.hasError('required')) {
            <mat-error>Phone is <strong>required</strong></mat-error>
            }
            @if (editarClienteForm.get('telefono')?.hasError('telefono')) {
            <mat-error>This phone is not <strong>valid phone</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Horario</mat-label>
            <input type="text" id="horario" matInput formControlName="horario" [errorStateMatcher]="matcher"
                placeholder="Ex. mañana">

        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipo de cliente</mat-label>
            <mat-select formControlName="tipoCliente">
                @for (tipo of tiposClientes; track tipo) {
                <mat-option [value]="tipo.value">{{tipo.viewValue}}</mat-option>
                }
            </mat-select>

            @if (editarClienteForm.get('tipoCliente')?.hasError('tipoCliente')) {
            <mat-error>tipoCliente is <strong>required</strong></mat-error>
            }
        </mat-form-field>

        <div class=" flex flex-col flex-wrap content-center gap-3">
            <div class=" flex gap-3 justify-center">
                <button mat-flat-button [disabled]="!isValid()" (click)="onSubmit()">Aceptar</button>
                <button mat-stroked-button (click)="reset()">Cancelar</button>
            </div>
        </div>

    </form>

</div>